<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body style="font-family: system-ui; margin: 2rem;">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Log in</a></li>
      </ul>
    </nav>

    <nav>
      {{#if session.isLoggedIn}}
        <p>Welcome, {{session.un}}!</p>
        <a href="/logout">Logout</a>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </nav>
    {{{body}}}

  </body>
</html>