<link rel="stylesheet" href="/css/about.css" />
<h2 class="h2-left">Introduction</h2>
<p class="text-left">Two exquisite objection delighted deficient yet its
  contained. Cordial because are account evident its subject but eat.
</p>
<img src="img/image5.jpg" alt="#" />
<h2 class="h2-right">Our goal</h2>
<p class="text-right">Two exquisite objection delighted deficient yet its
  contained. Cordial because are account evident its subject but eat.
</p>

<div class="achivements">
  <p>+100 Events</p>
  <p>+200k Members</p>
  <p>+10 Collaborations</p>
</div>

<div class="sponsors">
  <h3>meet our sponsors</h3>
  <img src="img/sponsor1.png" alt="#" />
  <img src="img/sponsor2.webp" alt="#" />
  <img src="img/sponsor3.png" alt="#" />
</div>

<div class="join-us">
  <h2>Join Eventigo Today! </h2>
  <p>Be able to like, comment and also upload your own pictures from events.</p>
  <p>You can sign up for free to become a eventigo member</p>
  <a href="/signin">Sign in</a>
</div>