<link rel="stylesheet" href="/css/contact.css" />
<main>
  <div id="background">
    <img src="/img/eldar-nazarov-GZBst0hFKG0-unsplash.jpg" alt="" />
  </div>

  <h1>Contact Us</h1>
  <div class="contact-us">

    <div class="images">
      <img src="/img/telephone.png" alt="#" />
      <img src="/img/mail.png" alt="#" />
      <img src="/img/instagram.png" alt="#" />
    </div>
    <div class="handles">
      <p>Phone Number</p>
      <p class="gap">+46 734720543</p>
      <p>Email Address</p>
      <p class="gap">eventigo@gmail.com</p>
      <p>Instagram</p>
      <p>@eventigo</p>

    </div>
  </div>
  <section class="contact-form">
    <h1>If you have any questions
      <div class="line"></div>
    </h1>

    <form action="/contact" method="POST">
      <p>Contact us</p>
      <h1>Get in touch!</h1>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Your name.." />

      <label for="mail">Email</label>
      <input
        type="text"
        id="mail"
        name="mail"
        placeholder="example@yourmail.com"
      />

      <label for="titsubjectle">Subject</label>
      <input type="text" id="subject" name="subject" placeholder="Title..." />

      <label for="message">Message</label>
      <textarea
        id="subject"
        name="subject"
        placeholder="Type here..."
      ></textarea>

      <input class="contactsend" type="submit" value="Send" />

    </form>
  </section>
</main>

<footer>
  <div class="footer-part-1">
    <div class="part1">
      <h1>Eventigo</h1>
      <h3>All newest events in one place</h3>

    </div>
    <div class="part2">
      <h2>Socials</h2>
      <section class="imgs">
        <img src="/img/instagram.png" alt="instagram" />
        <img src="/img/tik-tok.png" alt="tiktok" />
        <img src="/img/twitter.png" alt="twitter" />
        <img src="/img/facebook.png" alt="facebook" />
      </section>
    </div>
    <section class="form">
      <h2>Get the latest news!</h2>
      <input type="email" placeholder="e-mail address" />
      <input class="footersend" type="submit" value="Send" />
    </section>

  </div>
  <div class="line"></div>
  <p>Terms & Conditions | Privacy Policy | Disclosures </p>
  <p>©2025 Eventigo All Rights Reserved</p>
</footer>