<link rel="stylesheet" href="/css/create-post.css" />
<a href="/images" class="go-back">&larr; Go Back</a>
<h2>Upload New Post</h2>

{{#if error}}
  <p class="error">{{error}}</p>
{{/if}}

<form action="/images/new" method="POST" enctype="multipart/form-data">
  <label for="image">Choose an image (JPG or PNG):</label>
  <input type="file" name="image" accept=".jpg,.jpeg,.png" required />

  <label for="description">Description:</label>
  <input type="text" name="description" required />

  <button type="submit">Upload</button>
</form>