<link rel="stylesheet" href="/css/home.css" />
<div id="background">
</div>
<div id="main">
  <h1>Check this out!</h1>
  <h3>You don't want to miss this</h3>
  <a href="#">See More</a>
</div>
<div id="fun-fact">
  <h3>Did you know...</h3>
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum."
  </p>
</div>
<div id="upcoming-events">
  <section class="carousel-section">
    <h2 class="carousel-title">Upcoming Events</h2>

    <div class="carousel-container">
      <button class="carousel-btn left" aria-label="Previous">
        <img
          src="https://cdn-icons-png.flaticon.com/128/271/271220.png"
          alt="Left arrow"
        />
      </button>

      <div class="carousel-track-wrapper">
        <div class="carousel-track">
          <div class="carousel-slide">
            <img src="/img/image1.jpg" alt="#" />
            <div class="text">
              <h3>Event</h3>
              <p>Description</p>
            </div>
          </div>
          <div class="carousel-slide">
            <img src="/img/image2.jpg" alt="#" />
            <div class="text">
              <h3>Event</h3>
              <p>Description</p>
            </div>
          </div>
          <div class="carousel-slide">
            <img src="/img/divya-agrawal-SXOGv0P1y4E-unsplash.jpg" alt="#" />
            <div class="text">
              <h3>Event</h3>
              <p>Description</p>
            </div>
          </div>
          <div class="carousel-slide">
            <img src="/img/francisco-moreno-Nbw2ppKgFLA-unsplash.jpg" alt="#" />
            <div class="text">
              <h3>Event</h3>
              <p>Description</p>
            </div>
          </div>
        </div>
      </div>

      <button class="carousel-btn right" aria-label="Next">
        <img
          src="https://cdn-icons-png.flaticon.com/128/271/271228.png"
          alt="Right arrow"
        />
      </button>
    </div>
  </section>
</div>
<div id="some-categories">
  <p>Some of the <span>categories</span></p>
  <div class="category">
    <img src="/img/image1.jpg" alt="#" />
    <div class="cat-name">
      <h1>Cat 1</h1>
      <p>text</p>
    </div>
  </div>
  <div class="category">
    <img src="/img/image2.jpg" alt="#" />
    <div class="cat-name">
      <h1>Cat 2</h1>
      <p>text</p>
    </div>
  </div>
  <div class="category">
    <img src="/img/francisco-moreno-Nbw2ppKgFLA-unsplash.jpg" alt="#" />
    <div class="cat-name">
      <h1>Cat 3</h1>
      <p>text</p>
    </div>
  </div>
</div>
<div id="social-media">
  <h2>Help us grow our social media!</h2>
  <p>By growing our social media we can help reach to bigger audience and bla
    bla bla</p>
  <div class="socials">
    <section class="imgs">
      <img src="/img/instagram.png" alt="instagram" />
      <img src="/img/tik-tok.png" alt="tiktok" />
      <img src="/img/twitter.png" alt="twitter" />
    </section>
    <section class="handles">
      <p>@Events_Eventigo</p>
      <p class="lower">@Eventigoo</p>
      <p class="lower">@Events_Eventigo</p>
    </section>
    <!--<figure class="logo">
      <img src="/img/white.png" alt="eventigo" />
    </figure>-->
  </div>
</div>
<footer>
  <div class="footer-part-1">
    <div class="part1">
      <!--<img src="/img/white.png" alt="eventigo" />-->
      <h1>Eventigo</h1>
      <h3>All newest events in one place</h3>

    </div>
    <div class="part2">
      <h2>Socials</h2>
      <section class="imgs">
        <img src="/img/instagram.png" alt="instagram" />
        <img src="/img/tik-tok.png" alt="tiktok" />
        <img src="/img/twitter.png" alt="twitter" />
        <img src="/img/facebook.png" alt="facebook" />
      </section>
    </div>
    <section class="form">
      <h2>Get the latest news!</h2>
      <input type="email" placeholder="e-mail address" />
      <input class="send" type="submit" value="Send" />
    </section>

  </div>
  <div class="line"></div>
  <p>Terms & Conditions | Privacy Policy | Disclosures </p>
  <p>©2025 Eventigo All Rights Reserved</p>
</footer>

<script src="/js/carousel.js"></script>