<div class="login-page-wrapper"></div>
<div class="login-wrapper">
  <h2>Log in to your account:</h2>
  <p>Don’t have an account? <a href="/signin">Sign in</a></p>

  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}

  <form action="/loggedin" method="POST">
    <input type="text" name="username" placeholder="username" required />
    <input type="password" name="password" placeholder="password" required />
    <button type="submit" class="btn-login">Log in</button>
  </form>
</div>