body {
  background-color: #000000;
  padding: 0;
  margin: 0;
}

h2 {
  padding-left: 1rem;
  font-weight: 400;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.event-links {
  display: flex;
  gap: 5.4rem;
  list-style: none;
  justify-content: center;
  margin: 0 auto;
  background-color: rgba(97, 95, 95, 0.5);
  padding: 1rem 1.5rem;
}

.event-links li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s;
}

.event-links li a:hover {
  background-color: #f0f0f0;
  border: 6px solid #f0f0f0;
  padding: 0.3rem 0.8rem;
  color: black;
  border-radius: 30px;
}

.event-links li a.active {
  background-color: #f0f0f0;
  border: 6px solid #f0f0f0;
  padding: 0.3rem 0.8rem;
  color: black;
  border-radius: 30px;
}

.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding-bottom: 3rem;
  margin-top: 7rem;
}

.event-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 70%;
  gap: 1.5rem;
}

/* left box */
.event-info {
  display: flex;
  flex: 1;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  height: 17rem;
  box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.1);
}

.event-image img {
  width: 80%;
  height: auto;
  object-fit: cover;
  display: block;
}

.event-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-title {
  font-weight: 700;
  font-size: 1.3rem;
  color: #000000;
  margin-bottom: 0.4rem;
}

.event-location-time {
  font-size: 1rem;
  color: #222222;
  margin-bottom: 1.4rem;
}

/* read more button */
.read-more {
  background-color: #f08080;
  color: #ffffff;
  padding: 0.6rem 1.5rem;
  border-radius: 25px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  width: fit-content;
  transition: all 0.3s ease;
  justify-items: center;
}

.read-more:hover {
  background-color: #e66a6a;
}

/* right box */
.event-date {
  width: 7rem;
  height: 9rem;
  background: linear-gradient(to bottom, #f6f6f6 70%, #febcbc 30%);
  text-align: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.1);
}

.event-date .month {
  font-size: 0.9rem;
  color: #000000;
  font-weight: 500;
  letter-spacing: 1px;
}

.event-date .day {
  font-size: 2.8rem;
  font-weight: 600;
  color: #000000;
  line-height: 1;
  margin: 0.2rem 0;
}

.event-date .year {
  font-size: 1rem;
  color: #000000;
  opacity: 0.7;
  margin-top: 1.6rem;
}

.pagination {
  margin-top: 1rem;
  text-align: center;
  font-family: sans-serif;
}

.pagination a,
.pagination span {
  display: inline-block;
  margin: 0 5px;
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;

  transition: all 0.2s;
}

.pagination a:hover {
  background-color: #ff6961;
  color: white;
  border-radius: 30px;
}

.pagination .current {
  background-color: #ff6961;
  color: white;
  font-weight: bold;
  border-radius: 30px;
}

.pagination .disabled {
  color: #292929;
  cursor: default;
}
